CompileFlags:
  Add: [
    "-I",
    "d:/user/myprograms/arduinoide/arduino-1.8.19/hardware/tools/avr/bin/../lib/gcc/avr/7.3.0/include",
    "-I",
    "d:/user/myprograms/arduinoide/arduino-1.8.19/hardware/tools/avr/bin/../lib/gcc/avr/7.3.0/include-fixed",
    "-I",
    "d:/user/myprograms/arduinoide/arduino-1.8.19/hardware/tools/avr/bin/../lib/gcc/avr/7.3.0/../../../../avr/include",
    "-I",
    "d:/user/myprograms/arduinoide/arduino-1.8.19/hardware/tools/avr/avr/include",
    "-I",
    "d:/user/myprograms/arduinoide/arduino-1.8.19/hardware/arduino/avr/cores/arduino",
    "-I",
    "d:/user/myprograms/arduinoide/arduino-1.8.19/hardware/arduino/avr/variants/uno",
    "-I",
    "d:/USER/Documents/My_files/ComputerScienceNew/Projects/ArduKey/chains",
    "-I",
    "d:/USER/Documents/My_files/ComputerScienceNew/Projects/ArduKey/config",
    "-I",
    "d:/USER/Documents/My_files/ComputerScienceNew/Projects/ArduKey/usbdrv",
    "-I",
    "d:/USER/Documents/My_files/ComputerScienceNew/Projects/ArduKey/lib",
    "-mmcu=atmega328p",
    "-DF_CPU=16000000UL",
    "--target=avr"
  ]
